@model TechNetworkControlApi.Infrastructure.Entities.User

<h5>
    Здравствуйте уважаемый(ая) @Model.LastName @Model.FirstName @Model.Patronymic, вас зарегистрировали в системе учета сетевого оборудования 'Tech Network Control'.<br>
    Ваши учетные данные для входа в приложение:<br>
    Почта: @Model.Email<br>
    Пароль по умолчанию: Passw0rd, чтобы изменить его авторизуйтесь в системе<br>
    Номер телефона: @Model.Phone<br>
    Права доступа: @Model.Role<br>
    Ссылка на скачивание: https://disk.yandex.ru/d/Nb2t_7hJu84djg.<br>
    QR ссылка находится во вложении.
</h5>